#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.fragrance-table {
  width: 100%;
  border-bottom: 5px solid rgb(202, 188, 242);
}

.fragrance-table img {
  width: 200px;
}

.fragrance-table tr td {
background-color: white;
color: black;
}

.fragrance-table tr {
  background-color: pink;
  color: gray;
}