.fragranceCard {
    width: 100%;
    max-width: 280px;
    padding: 15px;
    height: auto;
    margin: 15px;
    border: 3px outset rgb(145, 11, 131);
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.fragranceCard:hover {
    background-color: aliceblue;
}

.fragranceCard .notes {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    color: gray;
    background-color: rgb(246, 220, 246);
}

.cardImage img {
    margin-top: 3px;
    max-width: 250px;
    width: 100%;
}

.cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
}

.isLayerable {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.action {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.action a img {
    width: 25px;
    height: auto;
}

.action a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    background: pink;
}

.action a:hover {
    background: rgb(255, 38, 226);
}
.notes {
    font-style: italic;
}

.description {
    white-space: wrap;
    width: 100%;
    padding:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
